.about-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  border-bottom: 10px solid black;
}

.backgroundImage {
  height: 100%;
  width: 100%;
  position: absolute !important;
  z-index: -1;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 70%;

  margin-top: 2rem;
}

.about-body {
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 1.25rem;
}

@media (max-width: 600px) {
  .about-content {
    max-width: 80%;
  }

  .about-body {
    font-size: 1rem;
  }
}
