.landing-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
  border-bottom: 10px solid black;
}

.landing-backgroundImage {
  height: 100%;
  width: 100vw;
  max-height: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: top right;
  position: static !important;
  z-index: -1;
  object-fit: cover;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  height: 60%;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: flex;
  /* transform: translateX(-10%); */
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  padding: 2em;
}

.header {
  color: rgb(243, 183, 71);
  font-family: "droid sans mono";
  margin-bottom: 3em;

  font-size: clamp(1rem, 5vw, 2rem);

  display: inline-block;

  text-decoration: none;

  position: relative;
}

.header.light {
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em rgb(243, 183, 71);

  box-shadow: inset 0 0 0.5em 0 var(rgb(243, 183, 71)),
    0 0 0.5em 0 var(rgb(243, 183, 71));
}

.landing-name {
  font-size: clamp(1.2rem, 7vw, 4.5rem);
  font-family: "montserrat";
  font-weight: 800;
}

.title {
  font-family: "droid sans mono";
  font-size: clamp(0.8rem, 3vw, 2rem);
}

.landing-name.dark {
  color: aliceblue;
}

.landing-name.light {
  color: #6f6f6f;
}

.title.dark {
  color: aliceblue;
}

.title.light {
  color: #6f6f6f;
}

@media (max-width: 500px) {
  .content {
    width: 85%;
    /* padding-left: 0; */
  }
  .banner {
    /* padding-left: 15vw; */
  }
}

@media (min-width: 1100px) {
  .main {
    flex-direction: row;
  }
}
