.landing-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
  border-bottom: 10px solid black;
}

.backgroundImage {
  /* height: 100%;
  width: 100%; */
  max-height: 1000;

  background-position: top right;
  position: absolute !important;
  z-index: -1;
}

.content {
  display: flex;
  transform: translateX(-10%);
  padding: 2em;
}

.header {
  color: rgb(231, 117, 231);
  font-family: "droid sans mono";
  margin-bottom: 3em;
}

.name {
  font-size: clamp(1.5rem, 10vw, 4rem);
  font-family: "montserrat";
  font-weight: 800;
}

.title {
  font-family: "montserrat";
}

.name.dark {
  color: aliceblue;
}

.name.light {
  color: #6f6f6f;
}

.title.dark {
  color: aliceblue;
}

.title.light {
  color: #6f6f6f;
}

@media (min-width: 500px) {
  .content {
    transform: translateX(-20%);
  }
}
