.projects-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
  width: 100vw;
}

.projects-header {
  margin-top: 35px;
}

.project-card {
  /* max-height: 400px; */
  max-width: 600px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.cards-container {
  margin-bottom: 50px;
}

.backgroundImage {
  min-height: 100%;
  width: 100%;
  position: absolute !important;
  z-index: -1;
}

@media (min-width: 2500px) {
  .project-card {
    max-width: 800px;
  }
}

@media (max-width: 2499px) {
  .cards-container {
    max-width: 80%;
  }
}

@media (hover: hover) {
  .neon-button:hover {
    filter: drop-shadow(0 0.5rem 00.5em rgb(243, 183, 71));
  }
}
